<template name="scoreLogger">
  <div id="scoreLogger" class="opacity-0 transition-opacity duration-1000">
    <p class="mb-3">Bravo, vous n'êtes pas un robot!</p>
    <div class="grid grid-flow-row grid-rows-4 items-center gap-x-3">
      <div class="grid auto-cols-fr grid-cols-2 justify-center gap-3 underline">
        <div>captchas complétés</div>
        <div>précision</div>
      </div>
      <div class="grid auto-cols-fr grid-cols-2 justify-center gap-x-6">
        <div>{{getScore}}</div>
        <div>{{getPrecision}} %</div>
      </div>
      <span> Votre pseudo (3 lettres max) :</span>
      <div class="grid auto-cols-fr grid-cols-2 gap-3 justify-self-start">
        <input
          class="w-20 appearance-none rounded border-2 border-gray-200 bg-gray-200 px-4 py-2 text-center leading-tight text-gray-700 focus:border-purple-500 focus:bg-white focus:outline-none"
          type="text"
          id="scoreLoggerPseudo"
          maxlength="3"
          style="text-transform: uppercase"
          placeholder="???"
        />
        <button
          id="scoreLoggerSubmit"
          class="rounded border border-blue-500 bg-transparent px-4 py-2 font-semibold text-blue-700 hover:border-transparent hover:bg-blue-500 hover:text-white"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</template>
