<template name="challenge">
  <div
    id="challenge"
    class="relative mt-6 flex h-20 w-fit items-center justify-start rounded-lg border border-indigo-500 bg-white opacity-0 transition-opacity delay-300 duration-300"
    style="opacity:{{hider}}"
    autocomplete="off"
  >
    <div class="p-6">
      <span id="challengePrompt" class="select-none text-xl">
        tapez le texte ci-dessus pour continuer :</span
      >
      <input
        class="challengeInput pointer-events-none ml-2 rounded-md p-1 text-xl {{wrongInput}} transition-colors"
        type="text"
        id="challengeInput"
        onPaste="return false"
        autofocus
      />
      <span id="challengeStatus">🤖</span>
      <!-- <span id="challengeTimerSecs" class="font-mono">39</span>
      <span id="challengeTimerSeparator" class="font-mono">:</span>
      <span id="challengeTimerDecs" class="font-mono">99</span> -->
    </div>
    <div
      class="absolute left-[50%] top-0 h-4 w-4 -translate-x-1/2 -translate-y-1/2 rotate-45 transform border-l border-t border-indigo-500 bg-white"
    ></div>
  </div>
</template>
