<template name="acte_2">
  <!-- beware that formating in here will break the fuken handlebars.
  consider using cmd+k s -->
  <div class="pageContainer flex w-full flex-wrap p-10">
    <div class="flex h-20 items-center justify-center">
      {{> continuer theLevel}} {{#unless isState "initial"}} {{> pasUnRobot
      theLevel}} {{/unless}}
    </div>
    {{#if isState "displayCaptcha"}} {{>captcha theCaptchaPlusLvl2}}
    <div class="flex w-full items-center justify-center gap-6">
      {{>challenge theCaptchaPlusLvl2}} {{>healthPoints}} {{>timer}}
    </div>
    {{/if}}
  </div></template
>
